<!DOCTYPE html>
<html lang="en">

<head>
    <HeadOutlet />
</head>


<body>
    <Routes />


    <SectionOutlet SectionName="Frontend_links" />
    <SectionOutlet SectionName="Admin_links" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
